$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

$roboto-regular: 400;
$roboto-light: 300;

$playfair-regular: 400;
$playfair-black-italy: 900;

$font-xx-large : 70px;
$font-x-large: 30px;
$font-large: 18px;
$font-medium : 16px;
$font-small : 12px;
