$color-site : #121619;

$white : #FFFFFF;
$platinum : #E6E7E7;
$lightgray : #D1D1D1;

$fuzzywuzzy : #E56353;
$ruddypink : #D76c69;
$spanishpink : #ECBCBA;

$eerieblack : #0d1318;
$raisinblack : #222323;
$nickel : #6C6E70;
